body {
    background: #f8f9fa;
}

.item-preview {
    position: relative;
}

.item-preview a.item-preview-img {
    transition: .15s box-shadow,.15s transform;
    border-radius: .5rem;
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15), 0 0 1.5rem 0.5rem rgba(33,37,41,.05);
    overflow: hidden;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

a {
    color: #dd3d31;
    text-decoration: none;
    background-color: transparent;
}

.footer-social .footer-social-link {
    height: 4rem;
    width: 4rem;
    font-size: 1.5rem;
}

.btn-twitter {
    color: #fff;
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.footer-main {
    color: rgba(255,255,255,.4);
}

.footer-main a {
    color: rgba(255,255,255,.7);
}

@media (min-width: 992px) {
  .item-preview a.item-preview-img:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
  }
}